
<div class="horizontal-scroll">
  <!-- <div class="form-group select-page-size-wrap "> -->
  <div class="form-group ">
    <div class="col-md-6">
      <label>Rows on page
        <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
        </select>
      </label>
    </div>
    <div class="col-md-6 align-right">
      <a href="#/sensory/evaluation"><button type="button" class="btn btn-success">Nueva Evaluacion</button></a>
    </div>
  </div>
 <!--  <div class="button-wrapper"><button type="button" class="btn btn-success">Nueva Evaluacion</button></div> -->
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="name">Nombre</th>
      <th st-sort="type">Tipo</th>
      <th st-sort="scale">Escala</th>
      <th st-sort="email">Autor</th>
      <th st-sort="created">Creada</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="name" placeholder="Buscar por Nombre" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="type" placeholder="Buscar por Tipo" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="scale" placeholder="Buscar por Escala" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="author" placeholder="Buscar por Autor" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="created" placeholder="Buscar por Creación" class="input-sm form-control search-input" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.smartTableData">
      <td class="table-id">{{item.samId}}</td>
      <td><a href="#/sensory/evaluation" ng-click="vm.guardarId(item.samId)">{{item.name}}</a></td>
      <td>{{item.type}}</td>
      <td>{{item.scale}}</td>
      <td>{{item.author}}</td>
      <td>{{item.created}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>