<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Configuración de la evaluacion sensorial" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Detalles" form="vm.samDetailForm">
                        <form name="vm.samDetailForm" ng-submit="vm.samDetailSave()" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.samDetailForm.name.$invalid && (vm.samDetailForm.name.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samName1">Nombre</label>
                                        <input type="text" class="form-control" id="samName1" name="name" placeholder="Nombre" ng-model="vm.samDetail.name" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.samDetailForm.samId.$invalid && (vm.samDetailForm.samId.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samId1">ID</label>
                                        <input type="text" class="form-control" id="samId1" name="samId" placeholder="ID" ng-model="vm.samDetail.samId" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.samDetailForm.type.$invalid && (vm.samDetailForm.type.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samType1">Tipo</label>
                                        <select class="form-control" title="Seleccione el Tipo" ng-model="vm.samDetail.type" required selectpicker>
                                            <option selected>hedonica</option>
                                            <option>consumidor</option>
                                            <option>descriptiva</option>
                                        </select>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.samDetailForm.scale.$invalid && (vm.samDetailForm.scale.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samScale1">Escala</label>
                                        <select class="form-control" title="Seleccione la Escala" ng-model="vm.samDetail.scale" required selectpicker>
                                            <option selected>cinco</option>
                                            <option>nueve</option>
                                        </select>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>

                                <div class="col-md-12 align-right">
                                    <button type="submit" class="btn btn-success btn-with-icon">
                                        <i class="ion-android-download"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Diseño" form="vm.samDesignForm">
                        <form name="vm.samDesignForm" ng-submit="vm.samDesignSave()" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.samDesignForm.judges.$invalid && (vm.samDesignForm.judges.$dirty || vm.samDesignForm.$submitted)}">
                                        <label for="judges1">Panelistas</label>
                                        <input type="number" class="form-control" id="judges1" name="judges" placeholder="Cantidad de Panelistas" ng-model="vm.samDesign.judges">
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <a target="_blank" ng-href="{{vm.designCsvDownloadUrl()}}">
                                        <button type="button" class="btn btn-success btn-with-icon">
                                            <i class="ion-ios-download"></i>
                                            Descargar CSV
                                        </button> 
                                    </a>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.samDesignForm.samples.$invalid && (vm.samDesignForm.samples.$dirty || vm.samDesignForm.$submitted)}">
                                        <label for="samples1">Muestras</label>
                                        <input type="text" class="form-control" id="samples1" name="samples" placeholder="Nombre de las muestras separados por comas" ng-model="vm.samDesign.samples">
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-with-icon align-right">
                                        <i class="ion-android-download"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Atributos"  form="vm.attributesForm">
                        <form name="vm.attributesForm" ng-submit="vm.attributesUpload()" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <a target="_blank" ng-href="{{vm.getAttributesTemplate()}}">
                                        <button type="button" class="btn btn-success btn-with-icon">
                                            <i class="ion-ios-download"></i>
                                            Descargar plantilla
                                        </button> 
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.attributesForm.archivo.$invalid && (vm.attributesForm.archivo.$dirty || vm.attributesForm.$submitted)}">
                                        <label for="archivo1">Archivo</label>
                                        <input type="file" class="form-control" id="archivo1" name="archivo" placeholder="Archivo csv con los datos recolectados" ng-model="vm.samDesign.archivo">
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-with-icon align-right">
                                        <i class="ion-android-upload"></i>
                                        Subir datos
                                    </button>
                                </div>
                            </div>

                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Resultados">
                        <form class="form-horizontal" name="vm.finishForm" novalidate>
                            Congratulations! You have successfully filled the form!
                        </form>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>

</div>