<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Configuración de la evaluacion sensorial" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Detalles" form="vm.samDetailForm">
                        <form name="vm.samDetailForm" ng-submit="vm.sendDetail()" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.samDetailForm.name.$invalid && (vm.samDetailForm.name.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samName1">Nombre</label>
                                        <input type="text" class="form-control" id="samName1" name="name" placeholder="Nombre" ng-model="vm.samDetail.name" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.samDetailForm.samId.$invalid && (vm.samDetailForm.samId.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samId1">ID</label>
                                        <input type="text" class="form-control" id="samId1" name="samId" placeholder="ID" ng-model="vm.samDetail.samId" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.samDetailForm.type.$invalid && (vm.samDetailForm.type.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samType1">Tipo</label>
                                        <input type="text" class="form-control" id="samType1" name="type" placeholder="Tipo" ng-model="vm.samDetail.type" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.samDetailForm.scale.$invalid && (vm.samDetailForm.scale.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samScale1">Escala</label>
                                        <input type="text" class="form-control" id="samScale1" name="scale" placeholder="Escala" ng-model="vm.samDetail.scale" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>

                                <div class="col-md-12 align-right">
                                    <button type="submit" class="btn btn-success btn-with-icon">
                                        <i class="ion-android-download"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Diseño" form="vm.productInfoForm">
                        <form name="vm.productInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.productInfoForm.productName.$invalid && (vm.productInfoForm.productName.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productName">Product name</label>
                                        <input type="text" class="form-control" id="productName" name="productName" placeholder="Product name" ng-model="vm.productInfo.productName" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.productInfoForm.productId.$invalid && (vm.productInfoForm.productId.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productId">Product id</label>
                                        <input type="text" class="form-control" id="productId" name="productId" placeholder="productId" ng-model="vm.productInfo.productId" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="productName">Category</label>
                                        <select class="form-control" title="Category" selectpicker>
                                            <option selected>Electronics</option>
                                            <option>Toys</option>
                                            <option>Accessories</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Atributos"  form="vm.addressForm">
                        <form name="vm.addressForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.addressForm.address.$invalid && (vm.addressForm.address.$dirty || vm.addressForm.$submitted)}">
                                        <label for="productName">Shipment address</label>
                                        <input type="text" class="form-control" id="address" name="address" placeholder="Shipment address" ng-model="vm.shipment.address" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="productName">Shipment method</label>
                                        <select class="form-control" title="Category" selectpicker>
                                            <option selected>Fast & expensive</option>
                                            <option>Cheap & free</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox">
                                    <span>Save shipment info</span>
                                </label>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Resultados">
                        <form class="form-horizontal" name="vm.finishForm" novalidate>
                            Congratulations! You have successfully filled the form!
                        </form>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>

</div>