<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Configuración de la evaluacion sensorial" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Detalles" form="vm.samDetailForm">
                        <form name="vm.samDetailForm" ng-submit="vm.samDetailSave()" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.samDetailForm.name.$invalid && (vm.samDetailForm.name.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samName1">Nombre</label>
                                        <input type="text" class="form-control" id="samName1" name="name" placeholder="Nombre" ng-model="vm.samDetail.name" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.samDetailForm.samId.$invalid && (vm.samDetailForm.samId.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samId1">ID</label>
                                        <input type="text" class="form-control" id="samId1" name="samId" placeholder="ID" ng-model="vm.samDetail.samId" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.samDetailForm.type.$invalid && (vm.samDetailForm.type.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samType1">Tipo</label>
                                        <select class="form-control" title="Seleccione el Tipo" ng-model="vm.samDetail.type" required selectpicker>
                                            <option selected>hedonica</option>
                                            <option>consumidor</option>
                                            <option>descriptiva</option>
                                        </select>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.samDetailForm.scale.$invalid && (vm.samDetailForm.scale.$dirty || vm.samDetailForm.$submitted)}">
                                        <label for="samScale1">Escala</label>
                                        <select class="form-control" title="Seleccione la Escala" ng-model="vm.samDetail.scale" required selectpicker>
                                            <option selected>cinco</option>
                                            <option>nueve</option>
                                        </select>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>

                                <div class="col-md-12 align-right">
                                    <button type="submit" class="btn btn-success btn-with-icon">
                                        <i class="ion-android-download"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Diseño" form="vm.samDesignForm">
                        <form name="vm.samDesignForm" ng-submit="vm.samDesignSave()" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.samDesignForm.judges.$invalid && (vm.samDesignForm.judges.$dirty || vm.samDesignForm.$submitted)}">
                                        <label for="judges1">Panelistas</label>
                                        <input type="number" class="form-control" id="judges1" name="judges" placeholder="Cantidad de Panelistas" ng-model="vm.samDesign.judges">
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <a target="_blank" ng-href="{{vm.getSamDesignCsv()}}">
                                        <button type="button" class="btn btn-success btn-with-icon">
                                            <i class="ion-ios-download"></i>
                                            Descargar CSV
                                        </button> 
                                    </a>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.samDesignForm.samples.$invalid && (vm.samDesignForm.samples.$dirty || vm.samDesignForm.$submitted)}">
                                        <label for="samples1">Muestras</label>
                                        <input type="text" class="form-control" id="samples1" name="samples" placeholder="Nombre de las muestras separados por comas" ng-model="vm.samDesign.samples">
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-with-icon align-right">
                                        <i class="ion-android-download"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Atributos"  form="vm.samAttributesForm">
                        <!-- <form name="vm.samAttributesForm" ng-submit="vm.attributesUpload()" novalidate> -->
                            <div class="row">
                                <div class="col-md-6">
                                    <form name="vm.samAttributesForm" novalidate>
                                        <div class="form-group" ng-class="{'has-error': vm.samAttributesForm.names.$invalid && (vm.samAttributesForm.names.$dirty || vm.samAttributesForm.$submitted)}">
                                            <label for="attributes1">Atributos</label>
                                            <input type="text" class="form-control" id="attributes1" name="names" placeholder="Nombre de los atributos separados por comas" ng-model="vm.samAttributes.names">
                                            <span class="help-block error-block basic-block">Required</span>
                                        </div>
                                        <a target="_blank" ng-href="{{vm.getSamAttributesTemplate()}}">
                                            <button type="button" class="btn btn-success btn-with-icon">
                                                <i class="ion-ios-download"></i>
                                                Descargar plantilla
                                            </button> 
                                        </a>
                                    </form>
                                </div>

                                 
                                <div class="col-md-6">
                                    <form ng-submit="vm.attributesUploadB()"  id="attributesUploadForm" method="POST" enctype="multipart/form-data" novalidate>
                                        <div class="form-group" ng-class="{'has-error': vm.samAttributesForm.archivo.$invalid && (vm.samAttributesForm.archivo.$dirty || vm.samAttributesForm.$submitted)}">
                                            <label for="archivo1">Archivo</label>
                                            <input type="file" class="form-control" id="archivo1" name="archivo" placeholder="Archivo csv con los datos recolectados" ng-model="vm.samAttributes.archivo">
                                            <span class="help-block error-block basic-block">Required</span>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-with-icon align-right">
                                            <i class="ion-android-upload"></i>
                                            Subir datos
                                        </button>
                                    </form>
                                </div>
                            </div>
                    </ba-wizard-step>
                    <ba-wizard-step title="Resultados">
                        <form name="vm.samResultForm" ng-submit="vm.calcSamResult()" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.samResultForm.alpha.$invalid && (vm.samResultForm.alpha.$dirty || vm.samResultForm.$submitted)}">
                                        <label for="alpha1">Alfa muestral (error)</label>
                                        <input type="number" class="form-control" id="alpha1" name="alpha" placeholder="Alfa" ng-model="vm.samResult.alpha">
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success btn-with-icon align-right">
                                        <i class="ion-android-download"></i>
                                        Calcular
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-md-6">
                                <div ng-controller="SensoryEvaluationCtrl">
                                    <div ba-panel ba-panel-title="Radar">
                                        <div class="chartjs-canvas-holder">
                                            <canvas id="radar" class="chart chart-radar" chart-series="vm.samGraphic.series" chart-data="vm.samGraphic.data"
                                                    chart-labels="vm.samGraphic.labels" chart-click="changeData">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <uib-accordion>
                                    <uib-accordion-group ng-repeat="partial in vm.samResult.partialResults" heading="{{partial.attributeName}}: {{partial.winner}}" panel-class="bootstrap-panel accordion-panel panel-default">
                                        Distribución utilizada: {{partial.distribution}}
                                        <!-- <div class="col-lg-6 col-md-12"> -->
                                        <!-- <div ba-panel ba-panel-class="with-scroll table-panel"> -->
                                        <div include-with-scope="app/pages/sensory/widgets/stripedRows.html"></div>
                                        </div>
                                    </uib-accordion-group>
                                    
                                </uib-accordion>
                            </div>
                        </div>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>

</div>